
<h1>Legacy Church Project</h1>

<% queries = Queries::Base.get_all %>
<% query_type = @params[:query_type] unless !@params %>
<% raw_data = [] %>

<% queries.each do |q| %>

	<div id="<%= to_id(q) %>" data-function="show_<%= ActiveSupport::Inflector.underscore(to_id(q)) %>">
	<%= form_tag 'respond_to.json', remote: true, class: 'query' do %>
		<% form_data = @params[:church] unless (!@params or q != query_type.constantize) %>
		<%= display(q, ':church', form_data) %>
		<%= submit_tag('Go!') %>
	<% end %>

	<svg class="chart" width="0" height="0">
	</svg>

	<table class="data-table">
	</table>

	</div>

<% end %>

<script type="text/javascript">
var churches = undefined;
$(document).ready(function() {
	$(".query").on("ajax:success", function(e, data, status, xhr) {
		var parentId = $(this).closest("div").attr("id");
		var funcName = $("#" + parentId).data("function");
		$("#" + parentId + " .chart").empty();
		$("#" + parentId + " .data-table").empty();
		churches = xhr.responseText;
		window[funcName](churches, parentId);
	}).on("ajax:error", function (e, xhr, status, error) {
		$(".data-table").append("<p>ERROR</p>");
	}); 
});
</script>



