
<h1>Legacy Church Project</h1>

<% queries = Queries::Base.get_all %>
<% query_type = @params[:query_type] unless !@params %>

<% queries.each do |q| %>

	<div id="<%= to_id(q) %>" class="query-block"
	  data-function="show_<%= ActiveSupport::Inflector.underscore(to_id(q)) %>"
      data-control-options='<%= q::control_options %>'
	  >
		<%= form_tag 'respond_to.json', remote: true, class: 'query' do %>
			<% form_data = @params[:church] unless (!@params or q != query_type.constantize) %>
			<%= display(q, ':church', form_data) %>
			</br> <%= submit_tag('Go!') %>
		<% end %>

		<div class="query-results"> </div>

		<div class="query-controls">
			<div class="control">
				<div style="margin-bottom: 5px">Value range:</div>
				<div class="y-axis-range"></div>
			</div>

			<div class="control">
				<label>Show absolute values:</label>
				<input type="checkbox" class="y-axis-absolute"/>
			</div>

			<div class="control">
				<label>Group data by </label>
				<select class="data-grouping">
					<option value="None" selected>None</option>
					<option value="District">District</option>
					<option value="City">City</option>
					<!--	<option value="Value">Value</option> -->
				</select>
			</div>
		</div>
	</div>

<% end %>

<script type="text/javascript">

$(document).ready(function() {
	$(".query").on("ajax:success", function(e, data, status, xhr) {

		var parentId = "#" + $(this).closest("div").attr("id");
		var funcName = $(parentId).data("function");
		var opts = $(parentId).data("control-options");

		var churches = JSON.parse(xhr.responseText);
		var properties = $(parentId + ' .church-property').val();
		var dataObj = { "churches": churches,
						"properties": properties,
						"minValue": d3.min(churches, function (el) { return el[properties]; }),
						"maxValue": d3.max(churches, function (el) { return el[properties]; }),
						"grouping": function(el) { return ''; }
		};

		initControls(parentId, dataObj, funcName, opts);
		$(parentId + " .query-results").empty();
		window[funcName](dataObj, parentId);

	}).on("ajax:error", function (e, xhr, status, error) {
		$(".data-table").append("<p>ERROR</p>");
	}); 
});

$(document).ready(load_dropdowns);

</script>


