
<h1>Legacy Church Project</h1>

<% queries = Queries::Base.get_all %>
<% query_type = @params[:query_type] unless !@params %>

<% queries.each do |q| %>

	<div id="<%= to_id(q) %>" class="query-block"
	  data-function="show_<%= ActiveSupport::Inflector.underscore(to_id(q)) %>"
	  >
	<%= form_tag 'respond_to.json', remote: true, class: 'query' do %>
		<% form_data = @params[:church] unless (!@params or q != query_type.constantize) %>
		<%= display(q, ':church', form_data) %>
		</br> <%= submit_tag('Go!') %>
	<% end %>

	<div class="query-results">

	</div>

	<div class="query-controls">
		<div class="y-axis-range"></div>
		<div class="y-axis-absolute"></div>
		<div class="data-grouping"></div>
	</div>
	</div>

<% end %>

<script type="text/javascript">
var churches = undefined;

$(document).ready(function() {
	$(".query").on("ajax:success", function(e, data, status, xhr) {
		var parentId = "#" + $(this).closest("div").attr("id");
		var funcName = $(parentId).data("function");
		initControls(parentId, funcName);
		$(parentId + " .query-results").empty();
		churches = xhr.responseText;
		window[funcName](churches, $(parentId + " .church-property-hidden").val(), parentId);
	}).on("ajax:error", function (e, xhr, status, error) {
		$(".data-table").append("<p>ERROR</p>");
	}); 
});

$(document).ready(load_dropdowns);

</script>


