<h1>Legacy Church Project</h1>

<% queries = Queries::Base.get_all %>
<% query_type = @params[:query_type] unless !@params %>

<% queries.each do |q| %>
	<%= form_tag do %>
		<% form_data = @params[:church] unless (!@params or q != query_type.constantize) %>
		<%= display(q, ':church', form_data) %>
		<%= submit_tag('Go!') %>
	<% end %>

	<% if !@churches.nil? and q == query_type.constantize then %>
	<table>
		<tr><th>Name</th> <th>ID</th> <th>District</th> <th>City</th> <th>State</th>
			<th><%= @params[:church][:category] %> </th>
		</tr>
		<% @churches.each do |church| %>
			<tr>
				<td> <%= link_to church.name, church_path(church) %> </td> 
				<td> <%= church.id %> </td>
				<td> <%= church.district %> </td>
				<td> <%= church.city %> </td>
				<td> <%= church.state %> </td>
				<td> <%= church.send @params[:church][:category] %></td>
			</tr>
		<% end %>
	</table>
	<% end %>
<% end %>

